.header
  %h1 Editing #{@team.name}

.content
  = render 'form'
  %p
    Leave the password field empty except you want to change the team password.

  = link_to 'Show', @team
  \|
  = link_to 'Back', teams_path
