.header
  %h1= Setting.ctf_name
  %h2 Spare Umbrella Limited Express Night Carnival

.content
  %section
    %h1 Information
    %p Announcements from the admin goes here.

  %section
    %h1 Challenges
    - if @challenges.present?
      %ul
        - @challenges.each do |challenge|
          %li= link_to challenge.name, challenge_path(challenge)
    - else
      %p No challenges are opened yet.

  %section
    %h1 Activities
    %ul
      %li Marisa submits the answer for 'Problem A' => +200pt.
      %li Remillia submits the answer for 'Problem A' => Wrong Answer...