= f.text_field :flag, required: true, placeholder: 'Flag'
= f.text_field :point, required: true, type: 'number', min: 0, placeholder: 'Point'
= f.link_to_remove 'Remove this flag', class: 'pure-button'
