.header
  %h1 Challenges
.content
  - if @challenges.present?
    %table#challenge-board.pure-table.pure-table-bordered
      %thead
        %th
        - @genres.each do |genre|
          %th= genre
      %tbody
        - @challenges.group_by { |c| c.point }.sort_by { |k, v| -k }.each do |point, arr|
          %tr
            %th= point
            - @genres.each do |genre|
              - chs = arr.select { |c| c.genre == genre }
              - if chs.any?
                %td
                  - chs.each do |ch|
                    %div
                      - answered = current_player.answers.valid.where(challenge: ch)
                      = link_to ch.name, ch
                      (#{answered.count})
              - else
                %td
  - else
    %p No challenges are opened...