.header
  %h1 Challenges
.content
  - if @challenges.present?
    - @genres.each do |genre|
      %section
        %h1= genre
        %ul
          - @challenges.select{|c| c.genre == genre}.each do |ch|
            %li
              = link_to ch.name, ch
              (#{ch.point})
  - else
    %p No challenges are opened...