.header
  %h1 Announcements

.content
  - @posts.each do |post|
    %article
      %h1
        = post.title
        %small
          - case post.public_scope
          - when 'public'
            for all
          - when 'player'
            for players
      %p.post-date= post.updated_at
      .body= truncate_html(@render.render(post.body))
      %p.read-all= link_to 'Read all', post
